<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<div class="header">
	  <h1>
		Welcome to {{ title }}!
	  </h1>
	</div>

	<div class="gameContainer">
		<div class="buttonWrapper">
			<button type="button" (click)="reset()">Start Again</button>
			<button type="button" (click)="shuffle()" [disabled]= "listOfCards.length === 0">Shuffle</button>
			<button type="button" (click)="dealOne()">Deal One</button>
		</div>
		<div class="cardCounter">
			Cards remaining: {{listOfCards.length}}
		</div>
		<div class="cardWrapper">
			<ul class="card-list">
			  <li *ngFor="let card of selectedCard">
				<div class="card {{card.cardType.color}} card-{{card.displayName}}" title="{{card.displayName}}">
				  <div class="letterTop">{{card.letter}}</div>
					<div class="suit" [innerHTML]="card.cardType.glyph"></div>
					<div class="letterBottom">{{card.letter}}</div>
				</div>
			  </li>
			</ul>
		</div>
	</div>
</div>


